/* You can add global styles to this file, and also import other style files */
.dark-theme {
    color: white;
  }
  
  .dark-theme .form-label,
  .dark-theme select,
  .dark-theme button {
    color: white;
  }
  
  .dark-theme #editor {
    background-color: rgb(68, 66, 66);
    color: white;
  }
  body{
    background-color: black;
  }